<%= content_for :email_intro do %>
  Welcome to <%= t 'site_name' %>
<% end %>

<%= content_for :email_body do %>
  <p>You have successfully signed up, please activate your account by following this link.</p>

  <p><%= link_to activate_user_url(@user.activation_token), activate_user_url(@user.activation_token) %></p>

  <p>Thanks for joining and have a great day!</p>
<% end %>