<%= content_for :page_title do %><%= @application.name.titleize %><% end %>

<% if @application.events.any? %>
  <%= render 'events/events', events: @application.events %>
<% else %>
  <p class="pure-alert pure-alert-info">
  	<b>No data received</b><br>
  	Have a look to our <%= link_to "documentation", documentation_path %> to get started.
  </p>
<% end %>