<div class="pure-g">
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

		<h3 class="content-subhead">
			<i class="fa fa-rocket"></i>
			Send logs from your web application
		</h3>
		<p>
			Aggregate logs in one place. Easy to read, easy to understand what's going on.
		</p>
	</div>
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
		<h3 class="content-subhead">
			<i class="fa fa-mobile"></i>
			Search
		</h3>
		<p>
			Search logs for specific event or determine trends.
			Save search for later use.
		</p>
	</div>
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
		<h3 class="content-subhead">
			<i class="fa fa-th-large"></i>
			Share access
		</h3>
		<p>
			Invite anyone.
		</p>
	</div>
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
		<h3 class="content-subhead">
			<i class="fa fa-check-square-o"></i>
			Unlimited projects
		</h3>
		<p>
			Logcamp is your central repository for all your applications. Create as many applications you need and decide who should get access.
		</p>
	</div>
</div>