<div class="pure-g">
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

		<h3 class="content-subhead">
			<i class="fa fa-rocket"></i>
			Track Anything
		</h3>
		<p>
			Aggregate any kind of logs (error logging, payments, customer support...) in one place. Easy to read, easy to understand.
		</p>
	</div>
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
		<h3 class="content-subhead">
			<i class="fa fa-search-plus"></i>
			Search
		</h3>
		<p>
			Search logs for specific events or determine trends.
			Save frequent searches for later use.
		</p>
	</div>
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
		<h3 class="content-subhead">
			<i class="fa fa-users"></i>
			Share Access
		</h3>
		<p>
			Invite team members so everyone can find answers and verify that situation is under control.
		</p>
	</div>
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
		<h3 class="content-subhead">
			<i class="fa fa-briefcase"></i>
			Unlimited Projects
		</h3>
		<p>
			Logcamp is your central repository for all your projects. Separate logs per projects and delegate access.
		</p>
	</div>
</div>