<div class="pure-g">
  <div class="pure-u-1-2">
    <form class="pure-form pure-form-stacked" action='https://formz.herokuapp.com/api/f/aa68f8f3' method='POST'>
      <fieldset>
        <label for="name">Your Name</label>
        <input name="name" type="text" placeholder="John Doe">

        <label for="email">Your Email</label>
        <input name="email" type="email" placeholder="john@email.com">

        <label for="message">Your Message</label>
        <textarea name="message" placeholder="Hello" rows="4" style="width:100%; margin-bottom:1em;"></textarea>

        <button type="submit" class="pure-button">Send</button>
      </fieldset>
    </form>
  </div>
</div>
