<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head"><%= t 'site_tagline' %></h1>
    <p class="splash-subhead">
      <%= t 'site_subtagline' %>
    </p>
    <p>
    	<%= link_to 'LEARN MORE', documentation_path, class: 'pure-button pure-button-primary' %>
    </p>
  </div>
</div>