<%= page_title 'About' %>

<p>
  <%= t 'site_name' %> was built out of frustration. Just like you we maintain a bunch of projects and every time something occurs you need to understand what's going on. Same when we need to answer a question.
</p>
<p>
  However, between what is supposed to happen and did it really happen there may be a gap. Some call it 'big data' we just think information is crucial to circumstantiate the situation.
</p>
<p>
  Tired of digging into server to check if cron job actually run last time, to see if subscriptions were processed, or whether order was shipped?
</p>
<p>
  <%= t 'site_name' %> is our attempt to decouple services from built-in modules in each and every single application. Logic should remain in your application but traceability and history may be not.
</p>