<%= page_title 'Contact' %>

<p>Questions? Inquiries? Send us a note.</p>

<%= render 'contact' %>

<p>Powered by <%= link_to "Formtastic", "https://formz.herokuapp.com" %>, a Form endpoint for designers and developers.</p>