@import "variables";

.event {
	border-bottom: 1px solid #cbcbcb;

	.summary {
		padding: 8px 2px;
	}

	&:hover {
		background-color: $light-grey;
		cursor: pointer;
	}

	[class^="icon-"], [class*=" icon-"] {
		color: #cfcfcf;

		&:hover { color: #777; }
	}

  .meta-key,
  .meta-value {
  	padding: 4px 6px;
   	border-bottom: 1px solid #f2f2f2;
  }

  .metadata .meta-key:last-of-type,
  .metadata .meta-value:last-of-type {
  	//border-bottom: none;
  }

}