<div class="pure-u-2-3 center-block">
  <%= text_field_tag :query, '', placeholder: "#{Date.today.strftime("%d/%m/%Y")}, info, message...", class: 'pure-input-rounded pure-input-2-3' %>
  <%= submit_tag 'Search', class: 'pure-button' %>
  <%= link_to "Save", "#", id: 'save-search-link', style: 'display:none;' %>
</div>